

:root{
    // --color1:#45469b;
    --color1:#f89501;
    --color2:#45469b;
    --color3:#4e5e72;
    --color4:#141d28;
    --color5:#212529;
    --color6:#afce36;
    --color7:#1ab786;
    --color8:green;
    --color9:blue;
    --color10:#85ad37;
    --color11:#ccc;
    --color12:#f1f1f1;
    --color13:#c2dfee;
    --color14:#fff;
    --color15:#000;
    --color16:#f8f8f9;
    --color17:transparent;
    --color18:#5c6f87;
    --color19:#354a63;
    --color20:#221054;
    --color21:#475669;
    --color22:#343d48;
    --color23:#ffffff;
    --color24:#05663c;
    --color25:#000503;
    --color26:#38d028;
    --color27:#288ef7;
    --color28:#217a18;
    --color29:#0a2507;
    --color30:#aaa6a7;
    --color31:#4db19e;
    --color32:#007ebd;
    --color33:#eeb269;
    --color34:#dc5753;
    --color35:rgba(12, 17, 23, 0.1);
    --color36:rgba(255, 255, 255, 0.8);
    --color37:#e8e8eb;
    --color38:#e6e6e6;
    --color39:rgba(255, 255, 255, 0.15);
    --color40:rgba(20, 29, 40, 0.06);
    --color41:#7a42cf;
    --color42:#233142;
    --color43:rgba(0, 0, 0, 0.15);
    --color44:#f9b03e;
    --color45:#0a0d1b;
    --color46:rgba(10, 199, 117, 0.8);
    --color47:rgba(35, 49, 66, 1);
    --color48:rgba(5, 102, 60, 0.9);
    --color49:#585fae;
    --color50:rgba(20, 29, 40, 0.1);
    --color51:rgba(0, 0, 0, 0);
    --color52:rgba(0, 0, 0, 0.1);
    --color53:rgba(255, 255, 255, 0.5);
    --color54:rgba(255, 255, 255, 0.6);
    --color55:rgba(20, 29, 40, 0.6);
    --color56:rgba(255, 255, 255, 0.17);
    --color57:rgba(255, 255, 255, 0.9);
    --color58:#93b1bb;
    --color59:#fc7c0b;
    --color60:#2c7eff;
    --color61:#61228c;
    --color62:rgba(150, 150, 150, 0.05);
    --color63:#aeb1b4;
    --color64:rgba(255, 255, 255, 0.1);
    --color65:#aab5c8;
    --color66:rgba(0, 0, 0, 0.4);
    --color67:#eaeaea;
    --color68:rgba(0, 0, 0, 0.3);
    --color69:#030406;
    --color70:#999;
    --color71:rgba(10, 199, 117, 1);
    --color72:rgba(10, 199, 117, 0.6);
    --color73:#273649;
    --color74:rgba(0, 0, 0, 0.2);
    --color75:rgba(225, 225, 225, 0.1);
    --color76:#4d4d4d;
    --color77:rgba(100, 100, 100, 0.75);
    --color78:rgba(255, 255, 255, 0.99);
    --color79:rgba(20, 29, 40, 0.4);
    --color80:rgba(255, 255, 255, 0.4);
    --color81:rgba(20, 29, 40, 0.9);
    --color82:rgba(0, 0, 0, 0.19);
    --color83:rgba(255, 255, 255, 0.25);
    // --color84:#99afc9;
    --color84:#f4c988;
    --color85:#b4cedc;
    --color86:rgba(20, 29, 40, 0.8);
    --color87:rgba(0, 0, 0, 0.35);
    --color88:rgba(0,0,0,0.50);
    --color89:white;
    --color90:rgba(255, 255, 255, 0.7);
    --color91:rgb(255, 255, 255);
    --color92:rgb(69, 70, 155);
    --color93:rgb(153, 153, 153);
    --color94:#4b4b4b;
    --color95:#363636;
    --color96:rgba(0, 0, 0, 0.5);
    --color97:#0c1117;
    --color98:#222739;
    --color99:rgba(248, 248, 249, 0.6);
    --color100:rgba(255, 255, 255, 1);
    --color101:rgba(255, 255, 255, 0);
    --color102:rgba(10, 199, 117, 0);
    --color103:rgba(0, 0, 0, 0.25);
    --color104:#222;
    --color105:#3e5c9a;
    --color106:#55acee;
    --color107:#ce272d;
    --color108:#ddd;
    --color109:#bbb;
    --color110:rgba(51, 51, 51, 0.5);
    --color111:rgba(255, 255, 255, 0.2);
    --color112:rgba(127, 127, 127, 0.4);
    --color113:rgba(255, 255, 255, 0.24);
    --color114:rgba(56, 208, 40, 0.6);
    --color115:rgba(40, 142, 247, 0.6);
    --color116:rgba(122, 66, 207, 0.6);
    --color117:rgba(248, 248, 249, 0.8);
    --color118:rgba(56, 208, 40, 1);
    --color119:rgba(40, 142, 247, 1);
    --color120:rgba(122, 66, 207, 1);
    --color121:rgba(20, 29, 40, 1);
    --color122:rgba(10, 199, 117, 0.5);
    --color123:rgba(92, 111, 135, 0.4);
    --color124:#3f4a57;
    --color125:#1c202f;
    --color126:#202536;
    --color127:#78899d;
    --color128:#11f391;
    --color129:#ffc000;
    --color130:#ff4e00;
    --color131:#214f9f;
    --color132:#f2f2f2;
    --color133:#a4a9b9;
    --color134:#ececec;
    --color135:#f0f7fa;
    --color136:#f9fafa;
    --color137:#657991;
    --color138:#ebeeee;
    --color139:#0099e5;
    --color140:#4a484c;
    --color141:#f90;
    --color142:#a4c639;
    --color143:#979797;
    --color144:#1769ff;
    --color145:#205081;
    --color146:#ee9209;
    --color147:#c90100;
    --color148:#007bc1;
    --color149:#0e76a8;
    --color150:#dc2743;
    --color151:#1da1f2;
    --color152:#3b5998;
    --color153:#b1cfef;
    --color154:#f7f8fa;
    --color155:black;
    --color156:whitesmoke;
    --color157:#0976b4;
    --color158:rgba(0, 0, 0, 0.6);
    --color159:rgb(32,28,106);
    --color160:rgba(32,28,106,1);
    --color161:rgba(145,70,165,1);
    --color162:rgba(48,149,170,1);
    --color163:rgb(93,111,199);
    --color164:rgba(93,111,199,1);
    --color165:rgba(207,92,115,1);
    --color166:#747474;
    --color167:#363F54;
    --color168:#e9e9e9;
    --color169:#333;
    --color170:#231815;
    --color171:#e6eceb;
    --color172:#9fa6b6;
    --color173:#67dbac;
    --color174:#006cfc;
    --color175:rgba(159,166,182,0.15);
    --color176:rgba(0,0,0,0.1);
    --color177:rgba(0, 0, 0, 0.8);
    --color178:#CF0A2D;
    --color179:#DBBC8F;
    --color180:#ED665E;
    --color181:#FF6600;
    --color182:#FFFFFF;
    --color183:#7969E6;
    --color184:rgba(54, 63, 84, 0.2);
    --color185:#FF6C75;
    --color186:#2C295D;
    --color187:#0190FF;
    --color188:#0092FF;
    --color189:#2884F6;
    --color200:rgba(0,0,0,0.15);
    --color201:#00b3e5;
    --color202:#d8d8d8;
    --color203:#595955;
    --color204:#010912;
    --color205:#343339;
    --color206:#f2421c;
    --color207:purple;
    --color208:#eee;
    --color209:rgba(0, 58, 120, 0.64);
    // --color210:#03AC52;
    --color210:#1E754F;
    --color211:#02D473;
    --color212:rgba(0,0,0,0.4)





   
}
$color_1: var(--color14);
$color_2: var(--color167);
$color_3: var(--color178);
$color_4: var(--color179);
$color_5: var(--color180);
$color_6: var(--color181);
$color_7: var(--color183);
$color_8: var(--color185);
$color_9: var(--color186);
$color_10: var(--color187);
$color_11: var(--color182);
$background-color_1: var(--color14);
$background-color_2: var(--color167);
$background-color_3: var(--color1);
$background-color_4: var(--color184);
$background-color_5: var(--color17);
$background-color_6: var(--color52);
$background-color_7: var(--color178);
$background-color_8: var(--color179);
$background-color_9: var(--color180);
$background-color_10: var(--color181);
$background-color_11: var(--color183);
$background-color_12: var(--color185);
$background-color_13: var(--color188);
$background-color_14: var(--color189);



 
