.career-section-main-content-1st-content {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--color212)), to(var(--color212))), url("../../../img/career/background-3.avif");
  background: linear-gradient(var(--color212), var(--color212)), url("../../../img/career/background-3.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .career-section-main-content-1st-content {
    height: 500px;
  }
}

.beforeLine-heading-career-page {
  font-size: 49px;
  color: var(--color1);
  font-weight: 300;
  margin-bottom: 57px;
  line-height: 1.2;
}

.beforeLine-heading-career-page:after {
  bottom: 0;
}

.beforeLine-heading-career-page {
  position: relative;
}

.beforeLine-heading-career-page:after {
  content: "";
  position: absolute;
  bottom: -34px;
  left: 48%;
  height: 5px;
  width: 34px;
  background-color: var(--color210);
}

@media screen and (max-width: 768px) {
  .beforeLine-heading-career-page:after {
    bottom: -21px !important;
    left: 45% !important;
  }
}

.career-section-main-content-1st-content .custom-padding {
  padding: 5%;
}

.heading-data {
  padding-top: 12%;
}

.heading-data .custom-text-career {
  text-align: left !important;
  margin: 0 auto;
  line-height: 1.25;
  color: var(--color89);
  font-weight: 500;
  font-size: 100px;
}

@media screen and (max-width: 768px) {
  .heading-data .custom-text-career {
    font-size: 50px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .heading-data .custom-text-career {
    font-size: 50px;
  }
}

.heading-data .border-content {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-align: center;
  margin: 0 auto;
}

.hiring-details {
  margin-top: 3%;
  margin-bottom: 3%;
}

.hiring-details .content-hiring-details .custion-hiring-content {
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 40px;
  font-size: 70px;
}

@media screen and (max-width: 768px) {
  .hiring-details .content-hiring-details .custion-hiring-content {
    font-size: var(--font-size_40) !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .hiring-details .content-hiring-details .custion-hiring-content {
    font-size: var(--font-size_51) !important;
  }
}

.hiring-details .content-hiring-details .details-section-2 p {
  padding: 2%;
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .hiring-details .content-hiring-details .details-section-2 p {
    font-size: var(--font-size_17) !important;
  }
}

@media screen and (min-width: 992px) {
  .hiring-details .content-hiring-details .details-section-2 p {
    font-size: var(--font-size_21) !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .hiring-details .content-hiring-details .details-section-2 p {
    font-size: var(--font-size_17) !important;
  }
}

.development-section {
  padding: 2%;
}

.coding-section {
  padding: 2%;
}

.current-job-opening-title {
  margin-bottom: 78px;
}

@media screen and (max-width: 768px) {
  .current-job-opening-title {
    margin-bottom: 60px;
  }
}

.development-main-content {
  border: 1px solid var(--color11);
  -webkit-box-shadow: var(--color87) 0px 5px 15px;
          box-shadow: var(--color87) 0px 5px 15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-align: center;
  height: 366px;
  padding: 8%;
}

@media (min-width: 768px) and (max-width: 992px) {
  .development-main-content {
    height: 435px !important;
  }
}

@media screen and (max-width: 768px) {
  .development-main-content {
    height: auto !important;
  }
}

.development-main-content .img-section img {
  max-height: 80px;
}

.development-main-content .text-content h3 {
  font-weight: 600;
  margin: 0;
  font-size: 34px;
  color: var(--color94);
  line-height: 1;
  letter-spacing: 0;
}

@media screen and (max-width: 768px) {
  .development-main-content .text-content h3 {
    font-size: 29px;
  }
}

.development-main-content p {
  text-align: justify;
  padding: 5%;
  font-size: 16.6px;
}

.coding-main-content {
  border: 1px solid var(--color11);
  -webkit-box-shadow: var(--color87) 0px 5px 15px;
          box-shadow: var(--color87) 0px 5px 15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-align: center;
  height: 366px;
  padding: 8%;
}

@media (min-width: 768px) and (max-width: 992px) {
  .coding-main-content {
    height: 435px !important;
  }
}

@media screen and (max-width: 768px) {
  .coding-main-content {
    height: auto !important;
  }
}

.coding-main-content .img-section img {
  max-height: 80px;
}

.coding-main-content .text-content h3 {
  font-weight: 600;
  margin: 0;
  font-size: 34px;
  color: var(--color94);
  line-height: 1;
  letter-spacing: 0;
}

@media screen and (max-width: 768px) {
  .coding-main-content .text-content h3 {
    font-size: 29px;
  }
}

.coding-main-content p {
  text-align: justify;
  padding: 5%;
  font-size: 16.6px;
}

.current-job-opening-content-h3-tag {
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 40px;
  font-size: 70px;
}

@media screen and (max-width: 768px) {
  .current-job-opening-content-h3-tag {
    font-size: var(--font-size_40) !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .current-job-opening-content-h3-tag {
    font-size: var(--font-size_51) !important;
  }
}

.current-job-opening-content .container {
  margin-bottom: 50px;
}

.custom-slick-slider .arrow-2.tparrows {
  cursor: pointer;
  background: transparent;
  width: 138px;
  height: 17px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

@media (min-width: 480px) and (max-width: 650px) {
  .custom-slick-slider .arrow-2.tparrows {
    left: 108% !important;
  }
}

@media (min-width: 420px) and (max-width: 480px) {
  .custom-slick-slider .arrow-2.tparrows {
    left: 108% !important;
  }
}

@media screen and (max-width: 420px) {
  .custom-slick-slider .arrow-2.tparrows {
    left: 112% !important;
  }
}

.custom-slick-slider .arrow-2.tparrows:hover {
  opacity: 0.6;
}

.custom-slick-slider .arrow-2.tparrows.tp-rightarrow {
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-slick-slider .arrow-2.tparrows.tp-rightarrow::before {
  content: '';
  -webkit-mask: url("../../../uploads/2019/05/arrow_left_3.png") no-repeat;
  background-color: var(--color14);
  display: inline-block;
  width: 40px;
  height: 14px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 20px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.custom-slick-slider .arrow-2.tparrows.tp-rightarrow:after {
  content: "PREV";
  display: inline-block;
  font-family: Visuelt;
  letter-spacing: 10px;
  font-size: 14px;
  font-weight: 500;
  color: var(--color14);
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.custom-slick-slider .arrow-2.tparrows.tp-rightarrow:hover::before {
  background-color: var(--color1);
}

.custom-slick-slider .arrow-2.tparrows.tp-rightarrow:hover::after {
  color: var(--color1);
}

.custom-slick-slider .arrow-2.tparrows.tp-leftarrow {
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-slick-slider .arrow-2.tparrows.tp-leftarrow::after {
  content: '';
  -webkit-mask: url("../../../uploads/2019/05/arrow_right_3.png") no-repeat;
  background-color: var(--color14);
  display: inline-block;
  width: 40px;
  height: 14px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 20px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.custom-slick-slider .arrow-2.tparrows.tp-leftarrow:before {
  content: "NEXT";
  display: inline-block;
  font-family: Visuelt;
  letter-spacing: 10px;
  font-size: 14px;
  font-weight: 500;
  color: var(--color14);
  width: auto;
  margin-right: 10px;
  height: auto;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.custom-slick-slider .arrow-2.tparrows.tp-leftarrow:hover::before {
  color: var(--color1);
}

.custom-slick-slider .arrow-2.tparrows.tp-leftarrow:hover::after {
  background-color: var(--color1);
}

@media screen and (max-width: 450px) {
  .custom-slick-slider .custom-p {
    display: inline-block;
  }
}

.custom-slick-slider p {
  font-size: 16.6px;
}

.custom-slick-slider .slick-slider-content-1 {
  position: relative;
}

.custom-slick-slider .slick-slider-content-1 .background-image-1 {
  background: var(--color159);
  background: -webkit-gradient(linear, left top, right top, from(var(--color160)), color-stop(56%, var(--color161)), to(var(--color162)));
  background: linear-gradient(90deg, var(--color160) 0%, var(--color161) 56%, var(--color162) 100%);
}

.custom-slick-slider .slick-slider-content-1 .img-section-slider {
  display: inline-block;
  text-align: center !important;
}

.custom-slick-slider .slick-slider-content-1 .img-section-slider img {
  max-height: 80px;
}

.custom-slick-slider .slick-slider-content-2 {
  position: relative;
}

.custom-slick-slider .slick-slider-content-2 .background-image-2 {
  background: var(--color163);
  background: radial-gradient(circle, var(--color164) 0%, var(--color165) 100%);
}

.custom-slick-slider .slick-slider-content-2 .img-section-slider-2 {
  display: inline-block;
  text-align: center !important;
}

.custom-slick-slider .slick-slider-content-2 .img-section-slider-2 img {
  max-height: 80px;
}

.section-slider-1 {
  display: inline-block;
  background: var(--color156);
  margin: 5%;
}

@media screen and (min-width: 992px) {
  .section-slider-1 {
    width: 35%;
  }
}

@media (max-width: 650px) {
  .section-slider-1 {
    width: 80%;
    margin: 9%;
    margin-bottom: 12%;
  }
}

@media (min-width: 650px) and (max-width: 768px) {
  .section-slider-1 {
    width: 57%;
    margin-bottom: 7%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .section-slider-1 {
    width: 50%;
    margin-bottom: 9%;
  }
}

.section-slider-2 {
  display: inline-block;
  background: var(--color156);
  margin: 5%;
}

@media screen and (min-width: 992px) {
  .section-slider-2 {
    width: 35%;
  }
}

@media (max-width: 650px) {
  .section-slider-2 {
    width: 80%;
    margin: 9%;
    margin-bottom: 12%;
  }
}

@media (min-width: 650px) and (max-width: 768px) {
  .section-slider-2 {
    width: 57%;
    margin-bottom: 8%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .section-slider-2 {
    width: 50%;
    margin-bottom: 9%;
  }
}

.heading-1-coding {
  margin-top: 0;
  color: var(--color1);
  font-size: 35px;
}

@media screen and (max-width: 450px) {
  .heading-1-coding {
    font-size: 30px;
    display: inline-block;
  }
}

.heading-2-coding {
  margin-top: 20px;
}

.custom-padding-1 {
  padding: 12%;
}

.anchor-tag-for-login .apply-btn-1 {
  border: 2px solid var(--color1);
  padding: 3%;
  display: inline-block;
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
  color: var(--color1);
}

.anchor-tag-for-login .apply-btn-1:hover, .anchor-tag-for-login .apply-btn-1:focus {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  -webkit-box-shadow: 0 0 0 2em transparent;
          box-shadow: 0 0 0 2em transparent;
}

.anchor-tag-for-login .apply-btn-1:hover {
  color: var(--color89);
  background: var(--color1);
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #a2f801;
            box-shadow: 0 0 0 0 #a2f801;
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #a2f801;
            box-shadow: 0 0 0 0 #a2f801;
  }
}

.anchor-tag-for-login .arrow {
  font-size: 20px;
}

.anchor-tag-for-login .arrow::after {
  display: inline-block;
  padding-left: 8px;
  content: "\0279E";
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.anchor-tag-for-login .arrow:hover::after {
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
}

.previous-silder-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 100%;
  opacity: 1;
  z-index: 1000;
  -webkit-transform: matrix(0, -1, 1, 0, -125, 88);
          transform: matrix(0, -1, 1, 0, -125, 88);
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .previous-silder-arrow {
    left: 110%;
  }
}

@media (min-width: 420px) and (max-width: 480px) {
  .previous-silder-arrow {
    left: 114% !important;
  }
}

@media screen and (max-width: 420px) {
  .previous-silder-arrow {
    left: 116% !important;
  }
}

.previous-silder-arrow::after {
  content: 'Prev';
  font-size: 25px;
  color: var(--color156);
  letter-spacing: 1px;
  word-spacing: 1px;
}

.previous-silder-arrow::before {
  color: var(--color89);
  display: inline-block;
  padding-right: 8px;
  content: "\1F814";
  font-size: 25px;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.previous-silder-arrow:hover::before {
  -webkit-transform: translateX(-4px);
          transform: translateX(-4px);
}

.next-silder-arrow {
  position: absolute;
  top: 50%;
  left: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  z-index: 1000;
  cursor: pointer;
  -webkit-transform: matrix(0, -1, 1, 0, -125, -112);
          transform: matrix(0, -1, 1, 0, -125, -112);
}

@media screen and (max-width: 650px) {
  .next-silder-arrow {
    left: 110%;
  }
}

@media (min-width: 420px) and (max-width: 480px) {
  .next-silder-arrow {
    left: 114% !important;
  }
}

@media screen and (max-width: 420px) {
  .next-silder-arrow {
    left: 116% !important;
  }
}

.next-silder-arrow::before {
  content: 'Next';
  font-size: 25px;
  color: var(--color156);
  letter-spacing: 1px;
  word-spacing: 1px;
}

.next-silder-arrow::after {
  color: var(--color89);
  display: inline-block;
  padding-left: 8px;
  content: "\1F816";
  font-size: 25px;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.next-silder-arrow:hover::after {
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
}

.slick-dots {
  display: inline-block;
  bottom: 30px !important;
}

@media screen and (max-width: 560px) {
  .slick-dots {
    bottom: 16px !important;
  }
}

.slick-dots li {
  left: 46%;
  opacity: 1 !important;
  z-index: 100 !important;
  color: var(--color89) !important;
  background-color: var(--color53) !important;
  border: 1px solid var(--color166) !important;
  border-radius: 50px !important;
  display: block !important;
  height: 4px !important;
  margin: 5px 5px !important;
  width: 40px !important;
  float: left !important;
}

@media screen and (max-width: 650px) {
  .slick-dots li {
    left: 42%;
  }
}

@media screen and (max-width: 420px) {
  .slick-dots li {
    left: 37% !important;
  }
}

.slick-dots li span {
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

li.slick-active {
  background-color: var(--color14) !important;
}

.custom-career-slider-button span {
  -webkit-transition: none 0s ease 0s;
  transition: none 0s ease 0s;
  text-align: inherit;
  line-height: 16px;
  border-width: 1px;
  margin: 0px;
  padding: 15px 35px;
  letter-spacing: 0px;
  font-weight: 600;
  font-size: 16px;
}

.custom-career-slider-button span:hover {
  color: var(--color1) !important;
}

@media screen and (max-width: 768px) {
  .current-job-opening-section {
    margin-top: 21px !important;
  }
}

.heading-on-life-at-cloudalp {
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .heading-on-life-at-cloudalp {
    margin-bottom: 27px;
  }
}

.custom-image-section {
  padding: 5%;
  padding-top: 35px;
}

@media screen and (max-width: 768px) {
  .life-at-cloudalp-content {
    margin-top: -33px;
  }
}

@media screen and (min-width: 768px) {
  .life-at-cloudalp-content {
    margin-top: -36px;
  }
}

@media screen and (min-width: 768px) {
  .custom-current-job-content-slider {
    margin-top: 30px;
  }
}

@media screen and (min-width: 992px) {
  .hiring-details {
    margin-top: 0;
    padding-top: 8%;
    margin-bottom: 0;
  }
  .current-job-opening-section {
    padding-top: 8%;
  }
  .life-at-cloudalp-content {
    padding-top: 8%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .hiring-details {
    margin-top: 0;
    padding-top: 10%;
    margin-bottom: 0;
  }
  .current-job-opening-section {
    padding-top: 8%;
  }
  .life-at-cloudalp-content {
    padding-top: 10%;
  }
}

@media screen and (max-width: 768px) {
  .hiring-details {
    margin-top: 0;
    padding-top: 14%;
    margin-bottom: 0;
  }
  .current-job-opening-section {
    padding-top: 13%;
  }
  .life-at-cloudalp-content {
    padding-top: 13% !important;
  }
}
/*# sourceMappingURL=career.css.map */